@import "mixins";

.boton-contacto {
    @include estilo-boton;
}

.textarea-consulta {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.input-contacto {
    @media (min-width: 820px) {
        width: 75%
    }
}
