.footer {
    .logos-redes-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-x: hidden;

        @media (max-width: 450px) {
            justify-content: flex-start;
        }
    }
        .logo-instagram-link {
            width: 10%;
            margin-right: 20px;
        }    
            .logo-instagram {
                width: 100%;
            }
        .logo-whatsapp-link {
            width: 10%;
         }
            .logo-whatsapp {
                width: 100%;
            }
}

 

 

 

