@import "variables";

.section-1 {
    overflow-x: hidden;
}

.carousel {
    .carousel-item h5 p {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .fondo-etiqueta {
        background-color: $color-primario;
     } 
}

.section-3 {
    overflow-x: hidden;
}