.navbar {
    background-color: orange;
    height: 80px;
    z-index: 1;
    
    .nav-hover-grow {
        font-weight: bold;
    }
    .nav-hover-grow:hover {
        transform:scale(1.1);
        transition: transform 0.3s linear; 
    }
    .navbar-toggler {
        color: white; 
    }
    .ul-bg-color {
        background-color: orange;
    } 
}


