@import "mixins";

.grid-container-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "h1-productos h1-productos h1-productos" "h2-cocina h2-cocina h2-cocina"  "cocina cocina cocina" "h2-comedor h2-comedor h2-comedor" "comedor comedor comedor" "h2-dormitorio h2-dormitorio h2-dormitorio" "dormitorio dormitorio dormitorio";
    
    @media (min-width: 820px){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:  "h1-productos h1-productos h1-productos" "h2-cocina h2-cocina h2-cocina"  "cocina cocina cocina" "h2-comedor h2-comedor h2-comedor" "comedor comedor comedor" "h2-dormitorio h2-dormitorio h2-dormitorio" "dormitorio dormitorio dormitorio";
    }

    .h1-productos {
        @include estilo-h1;
        grid-area: h1-productos;
        
        @media (min-width: 820px){
            grid-area: h1-productos;
        }
    }
    
    .h2-cocina {
        @include estilo-h2;
        grid-area: h2-cocina;
        }
    }
    
    .container-cocina {
        @include estilo-container;
        grid-area: cocina;
    }
        
        .container-cocina__carta-cocina {
            @include estilo-carta;
    
            .container-cocina__img {
                @include estilo-imagen-carta
            }
            
            .container-cocina__p {
                @include estilo-p-carta
            }
            
            .container-cocina__info-tarjeta {
                @include estilo-info-carta
            }
            
            .container-cocina__button{
                @include estilo-boton;
            }
        }
    
    .h2-comedor {
        @include estilo-h2;
        grid-area: h2-comedor;
        }
        
    .container-comedor {
        @include estilo-container;
        grid-area: comedor;
    }
    
        .container-comedor__carta-comedor {
            @include estilo-carta;
    
            .container-comedor__img {
            @include estilo-imagen-carta
            }
            
            .container-comedor__p {
            @include estilo-p-carta;
            }
            
            .container-comedor__info-tarjeta {
            @include estilo-info-carta;
            }
            
            .container-comedor__button {
            @include estilo-boton;
            }
        }          
    
    .h2-dormitorio {
        @include estilo-h2;
        grid-area: h2-dormitorio;
        }
    
    .container-dormitorio {
        @include estilo-container;
        grid-area: dormitorio;
    }
    
        .container-dormitorio__carta-dormitorio {
            @include estilo-carta;

            .container-dormitorio__img {
                @include estilo-imagen-carta
            }
            
            .container-dormitorio__p {
                @include estilo-p-carta
            }
            
            .container-dormitorio__info-tarjeta {
                @include estilo-info-carta
            }
            
            .container-dormitorio__button{
                @include estilo-boton
            }    
        } 


