@import "navbar";
@import "index__sections";
@import "footer";
@import "productos";
@import "sucursales";
@import "contacto";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}
h1 {
    font-weight: bold;
}